*{
    margin: 0px;
    padding: 0px;
    font-family:Gilroy;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}


#card{
    height: 1450px;
    width: 960px;
    background-color: #fff;
    border: 10px solid #eb0707;
    border-radius: 20px;
    position: relative;
}

#storyiyan{
    height: 300px;
    width: 100%;
    border-bottom: 1px solid #dadada;
    padding: 20px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#storyiyan::-webkit-scrollbar{
    display: none;
}

.story{
    background-color:rgb(15, 3, 68);
    height: 250px;
    width: 250px;
    border: 3px solid rgb(229, 253, 9);
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#full-screen{
    height: 100%;
    width:100%;
    background-size: cover;
    background-position: center;
    /* background-color: red; */
    position: absolute;
    display: none;
}